@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&family=Share+Tech+Mono&display=swap');

:root {
  --light: #4bf;
  --dark: #048;
  padding: 0px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: black;
}

div {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  position: absolute;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panel {
  background: #222;
  box-shadow: 0 0 5px #0ff, 0 0 20px #08f, 0 0 100px #008;
  border: 1px solid white;
  border-radius: 10px;
  padding: 12px;
  margin: 24px;
  width: 200px;
}

input {
  margin: 8px;
  padding: 4px;
  border: none;
  border-radius: 4px;
}

button {
  cursor: pointer;
  margin: 4px;
  border: none;
  border-radius: 4px;
  color: #333;
  background-color: white;
  box-shadow: 0 0 16px #666;
}

button:hover {
  background-color: var(--light);
  color: black;
  transform: translateY(-1px);
  box-shadow: 0 0 16px #06f;
}

button:active {
  transform: translateY(2px);
  background-color: white;
  box-shadow: 0 0 16px white;
}

.actionButton {
  padding: 8px 12px;
  font-weight: bold;
  font-size: 14pt;
}

.smallButton {
  padding: 4px 6px;
}

.linkButton {
  box-shadow: none;
  background: none;
  text-decoration: underline;
  color: white;
}

.linkButton:hover {
  background: none;
  box-shadow: none;
  transform: none;
  color: var(--light);
}

.linkButton:active {
  transform: none;
}

.errorText {
  color: #f88;
}

.bigText {
  color: white;
  margin: 20px;
  font-size: 18pt;
}

.planetButton {
  transition-duration: 0.2s;
  background: none;
  margin: 0;
  border: 3px solid white;
  border-radius: 100%;
  transform: scale(0.94);
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}

.planetButton:hover {
  background: none;
  transform: scale(0.88);
  color: white;
}

.planetButton:active {
  transition-duration: 0s;
  transform: scale(0.86);
  background: #fff3;
}

.locationPicker {
  transition-duration: 0.1s;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: -10px;
  border-radius: 100%;
  background: none;
  outline: 1px solid white;
  position: absolute;
  transform: none;
}

.locationPicker:hover {
  transform: scale(1.2);
  background: none;
  box-shadow: 0 0 16px #fff8;
}

.locationPicker:active {
  transform: scale(1.1);
  background: none;
  box-shadow: 0 0 16px #fff;
}

.buttonLabel {
  color: white;
  font-family: 'Share Tech Mono', monospace;
  margin: 6px 4px;
  font-size: 14pt;
}
